
html {
  background: url(../images/bats.gif) center;
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;

	/* Center the body horizantally. */
	margin: auto;
	width: 800px;

	/* Set up the border. */
	/* I personally prefer breaking these up. I find them more readable like this.*/
	border-color: black;
	border-width: 3px;
	border-style: solid;

	/* Set up the shadow */
	box-shadow: 0px 0px 50px;
}
a {
    font-weight: bold;
    color: orange;
}
a:link, a:visited {
    color: orange;
}
a:hover, a:focus {
    color: green;
}

/* Header */
header {
		border-bottom: 3px;
		border-bottom-color: black;
		border-bottom-style: solid;
}

header img {
	float: left;
}
header h2 {
	font-size: 230%;
	font-style: italic;
	color: orange;
	text-indent: 25px;
	text-shadow: 2px 2px 2px black;
}
header h3 {
	font-size: 125%;
	text-indent: 25px;
}

/* Main */
main h1 {
	font-size: 140%;
}
main h1:first-letter {
	font-size: 240%;
}
main h2 {
	font-size: 125%;
}
main h3 {
	font-size: 110%;
}
ul {
	line-height: 1.5;
}

/* Footer */
footer {
		border-top: 3px;
		border-top-color: black;
		border-top-style: solid;
}

footer p {
	font-size: 90%;
	text-align: center;
}
